{% extends 'base.html' %}
{% block content %}


  {% with messages = get_flashed_messages(with_categories=true) %}
    {%if messages %}
      {% for category, msg in messages%}
          <div class="alert alert-{{category}}">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>{{msg}}</strong>
            </div>
      {% endfor %}
    {% endif %} 
  {% endwith  %}

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark hight: 100px" style="color:white">

        <h1 class="display-1 fw-bold mt-4" style="color:white;">FDA DDI </h1>

        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="form-register" style="color: antiquewhite" method="post">
                        <input class="form-control form-control-lg mt-4" placeholder="Drug" name="drug_input" />
                        <input class="form-control form-control-lg mt-4" placeholder="Adverse reaction" name="reaction_input" />
                        <input type="submit" name="submit" value="Submit" class="btn btn-outline btn-primary mt-4">
                    </form>
                </div>
    
            </div>
        </div>

</div>

 
{% endblock %}